header{
	text-align: center;

}
h6{
	text-align: center;
}
.first{
	border-bottom: 3px solid black;
}

#leader{
	text-align: center;
}
table{
	border: 1px solid black;
}
h3{
	text-decoration: underline;
}
#last-one{
	text-align: center;
}
#one{
color: orangered;	
}
#two,#three{
	color:darkblue ;
}
#four{
	color: green;
}